.container-createMembers {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.h1-agregarSocio {
  color: #0e2743; /* Azul oscuro */
}

.label-agregarSocio {
  color: #0e2743; /* Azul oscuro */
}

.btn-agregar.btn {
  background-color: #27a06f; /* Verde intenso */
  border-color: #27a06f; /* Verde intenso */
}

.btn-agregar.btn:hover {
  background-color: #1e8880; /* Verde azulado */
}

.input-agregarSocio.form-control {
  border-color: #27a06f; /* Verde intenso */
}
.icon-label {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: center;
  cursor: pointer;
}

.icon-label i {
  padding-right: 2%;
  /* Espacio entre el ícono y el texto */
}
.icon-label:hover {
  color: #1e8880;
}
.imgProfile {
  max-width: 250px;
  max-width: 366px;
}
