.bg-image {
  position: relative;
  background-image: url("../../resources/ccf.png");
  background-position: center;
  background-size: cover;
  background-color: #0e2743;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-css.btn-close {
  position: absolute;
  top: 10px; /* Ajusta el espacio desde la parte superior */
  right: 10px; /* Ajusta el espacio desde la derecha */
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

/* Cambia este selector */
.btn-css.btn-close:hover {
  opacity: 1; /* Muestra el botón al pasar el mouse sobre el contenedor */
}

.container-findMember {
  background-color: #f2f2f2e1;
  border-radius: 5px;
  width: 400px;
  /* height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 5px;
}
.h1-ingresoCCf {
  color: #0e2743; /* Color principal de texto */
  font-size: 2.5rem; /* Tamaño grande para destacar el título */
  font-weight: bold; /* Para que el título resalte */
  text-align: center; /* Centrado horizontalmente */
  margin-bottom: 20px; /* Espacio inferior para separar del contenido siguiente */
}

.form-label {
  color: #1e8880;
}
.input-buscar.form-control {
  border-color: #27a06f; /* Color del borde */
  height: 50px; /* Altura más grande */
  font-size: 1.2rem; /* Texto más grande */
  padding: 10px; /* Espaciado interno más amplio */
  border-radius: 8px; /* Bordes ligeramente redondeados */
}

.btn-buscarSocio.btn {
  background-color: #27a06f; /* Verde intenso */
  border-color: #27a06f; /* Verde intenso */
  color: #f2f2f2;
}

.btn-buscarSocio.btn:hover {
  background-color: #1e8880; /* Verde azulado */
}
.custom-modal-body {
  background-color: rgb(255, 255, 255); /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}
.custom-modal-header .modal-title {
  font-size: 1.5rem;

  font-weight: bold;
}
.nameDate {
  margin-bottom: 12px;
}
.nameDate p {
  margin: 0px;
  font-size: 1.4rem;
  color: black; /* Color de texto */
  font-weight: 600;
}
.nameDate strong {
  margin: 0;
  color: #27a06f;
}
.statusMembership {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}
.alert-success {
  background-color: #27a06f !important; /* Fondo verde para alerta activa */
  border-color: #004c2d !important; /* Borde del mismo color */
}

.alert-warning {
  background-color: #ffb030 !important; /* Fondo amarillo/naranja para alerta de advertencia */
  border-color: #ff9f00 !important; /* Borde del mismo color */
}

.alert-danger {
  background-color: #e30a17 !important; /* Fondo rojo para alerta de expiración */
  border-color: #c2000d !important; /* Borde del mismo color */
}
.spinner-container {
  min-height: 400px; /* Ajusta la altura según sea necesario */
}
.custom-alert-warning {
  margin-top: 5px;
  background-color: #ff3131; /* Fondo suave */
  border-color: #f30606; /* Borde cálido */
  color: #8a6d3b; /* Texto con tono amigable */
  font-size: 1rem; /* Texto más legible */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  display: flex; /* Alineación de ícono y texto */
  align-items: center;
  gap: 10px; /* Separación entre ícono y texto */
}
